Example/Example_objc/Pods/
Example/SwiftExample/Pods/

Example/SwiftExample/SwiftExample.xcworkspace/
Example/SwiftExample/Podfile.lock

Example/Example_objc/Example.xcworkspace/
Example/Example_objc/Podfile.lock